<h1>idea box</h1>
<h3>now with modern styling <br> (ie., no capital letters) </h3>
<div class="whole-idea">
  <div class="idea-quality">
    Quality
  </div>
  <div class="idea-title">
    Title
  </div>
  <div class="idea-body">
    Idea
  </div>
</div>
<div class="new-idea">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <hr>
      <div class="form-group">
        Title:
        <input class="form-control" type="text" id="idea-title">
        <br>
        Idea:
        <input class="form-control" type="text" id="idea-body">
      </div>
      <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
