<h1>idea box</h1>
<h3>now with modern styling <br> (no capital letters) </h3>
<div class="whole-idea">
  <div class="idea-quality">
    Quality
  </div>
  <div class="idea-title">
    Title
  </div>
  <div class="idea-body">
    Idea
  </div>
</div>
